body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4cce9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;

}

#tablero {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
}

.carta {
    width: 100px;
    height: 150px;
    background: linear-gradient(to bottom, rgb(121, 1, 57), #50005d);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-size: cover;
    transition: transform 0.3s;
    position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
    overflow: hidden; /* Esconde la parte que sale de los límites */
}

.carta.volteada {
    background-color: #2ecc71; /* Color de fondo cuando está volteada */
    color: white; /* Color del texto cuando está volteada */
    transform: scale(1.05); /* Un ligero aumento cuando la carta está volteada */
}

.carta::after {
    content: ''; /* Pseudo-elemento para el reverso de la carta */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('img/at.jpg');
    background-size: cover;
    transition: opacity 0.3s;
}

.carta.volteada::after {
    opacity: 0; /* Esconde el reverso de la carta cuando está volteada */
}

button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #27ae60;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

#resetButton {
    margin-top: 20px;
}
